<div class="row">
  <div class="col-4" *ngIf="events?.length > 0">
    <br><br><br><br>
    <h1>List of Events</h1>
    <div *ngFor="let event of events">
      <div class="card mb-4" style="padding: 10px;">
        <div class="card-block">
          <h5 class="card-title">Event Name: {{event.name}} </h5>
          <p>EID: {{event.eid}}</p>
          <p>UID: {{event.uid}}</p>
          <p>Description: {{event.description}}</p>
          <p>Longitude: {{event.longitude}}</p>
          <p>Latitude: {{event.latitude}}</p>
          <button class="btn btn-primary" (click)="flyTo(event)">Fly Here!</button>
          <button class="btn btn-primary" (click)="deleteEvent(event)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 map" id="map"></div>

</div>
<br><br><br><br><br><br>

<!-- <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'">
  <mgl-control mglGeolocate [positionOptions]="{
        enableHighAccuracy: true
      }" [trackUserLocation]="true"></mgl-control>
</mgl-map> -->
