<div class="map" id="map"></div>
<br><br><br><br>
<input type="text" [(ngModel)]="message" placeholder="your message...">
<h1>Markers</h1>
<div *ngFor="let marker of markers | async">
  <button (click)="flyTo(marker)">{{ marker.properties.message }}</button>
  <button (click)="removeMarker(marker)">Delete</button>
</div>
<!-- <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'">
  <mgl-control mglGeolocate [positionOptions]="{
        enableHighAccuracy: true
      }" [trackUserLocation]="true"></mgl-control>
</mgl-map> -->
