<div *ngIf="firebaseService.user | async; then authenticated else guest"></div>

<ng-template #guest>
  <div id="ghettoImSorryagain"></div>
  <div class="welcome_unauth">
    <div class="card mb-4" style="padding: 10px;">

      <h6>Welcome, Guest.</h6>
      <p>Please login to add events!</p>
      <input type="text" [(ngModel)]="term" class="form-control" placeholder="Search for an event">
    </div>
  </div>
  <br>
  <h1>List of events</h1>
  <div id="events_unauthed">
      <div *ngIf="events?.length > 0" class="container">
          <div *ngFor="let event of events | filter:term" class="collection">
            <div style="padding: 10px; border: black 2px solid;">
              <div class="d-flex justify-content-between">
                <div>{{event.name}}</div>
              </div>
              <hr>
              <div class="d-flex justify-content-start">
                <button disabled class="bottom btn btn-success" (click)="likeUpdate(event)">👍</button>
                <p class="bottom">Likes: {{event.like}}</p>
                <button disabled class="bottom btn btn-danger" (click)="dislikeUpdate(event)">👎</button>
                <p class="bottom">Dislikes: {{event.dislike}}</p>
              </div>
            </div>
          </div>
    
          <br>
        </div>
  </div>
</ng-template>

<ng-template #authenticated>
  <div id="ghettoImSorry"></div>

  <div class="welcome_auth">

    <div class="card mb-4" style="padding: 10px;">

      <h6>Hi, {{ user.firstname }} {{ user.lastname }}!</h6>
      <input type="text" [(ngModel)]="term" class="form-control" placeholder="Search for an event">


      <form [formGroup]="eventForm" (ngSubmit)="registerEvent()">
        <div *ngIf="latitude && longitude; then point else nopoint">
        </div>
        <ng-template #point>
          <h6>Point selected on map</h6>
        </ng-template>
        <ng-template #nopoint>
          <h6>Click where you would like to drop a pin.</h6>
        </ng-template>
        <div class="form-group">
          <input type="name" id="name" class="form-control" formControlName="name" placeholder="Name of event">
        </div>
        <div class="form-group" style="display: none;">
          <input type="latitude" id="latitude" class="form-control" formControlName="latitude">
        </div>
        <div class="form-group" style="display: none;">
          <input type="longitude" id="longitude" class="form-control" formControlName="longitude">
        </div>
        <div align="center">
          <button [disabled]="!eventForm.valid" type="submit" class="btn btn-primary">Add Event</button>
        </div>
      </form>
    </div>

  </div>
  <br>
  <h1>List of events</h1>

  <div id="events_authed">
      <div *ngIf="events?.length > 0" class="container">
          <div *ngFor="let event of events | filter:term" class="collection">
            <div style="padding: 10px; border: black 2px solid;">
              <div class="d-flex justify-content-between">
                <div>{{event.name}}</div>
              </div>
              <hr>
              <div class="d-flex justify-content-start">
                <button class="bottom btn btn-success" (click)="likeUpdate(event)">👍</button>
                <p class="bottom">{{event.like}}</p>
                <button class="bottom btn btn-danger" (click)="dislikeUpdate(event)">👎</button>
                <p class="bottom">{{event.dislike}}</p>
              </div>
            </div>
          </div>
    
          <br>
        </div>
  </div>
</ng-template>
