<br><br><br><br><br>
<div *ngIf="firebaseService.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Welcome, Guest</h3>
  <p>Login to add events started...</p>

  <!-- <button (click)="firebaseService.googleLogin()">
        <i class="fa fa-google"></i> Connect Google
    </button> -->

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div class="container" *ngIf="firebaseService.user | async as user">
    <h3>{{ user.firstname }} {{user.lastname}}</h3>
    <p>UID: {{ user.uid }}</p>
    <button class="btn btn-primary" (click)="firebaseService.signOut()">Logout</button>

  </div>
</ng-template>
<br>

<br><br><br>
<div id="eventsList">
<div *ngIf="events?.length > 0" class="container">
  <div class="card-deck">
    <div *ngFor="let event of events" class="collection">
      <div class="card mb-4" style="width: 20em; padding: 10px;">
        <div class="card-block">
          <h5 class="card-title">Event Name: {{event.name}} </h5>
          <p>EID: {{event.eid}}</p>
          <p>UID: {{event.uid}}</p>
          <p>Description: {{event.description}}</p>
          <p>Longitude: {{event.longitude}}</p>
          <p>Latitude: {{event.latitude}}</p>


                    <input type="button"  class="btn btn-primary"  value ="👍" (click)="likeUpdate(event)">
                    <input class="tinyBox" value = {{event.likePercent}}>
                    <input type="button"  class="btn btn-primary"  value ="👎" (click)="dislikeUpdate(event)">
                    <input class="tinyBox" value ={{event.dislikePercent}}>

</div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
