<br>
<br>
<br>
<br>
<div *ngIf="firebaseService.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Welcome, Guest</h3>
  <p>Login to add events started...</p>

  <!-- <button (click)="firebaseService.googleLogin()">
        <i class="fa fa-google"></i> Connect Google
    </button> -->

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div class="container" *ngIf="firebaseService.user | async as user">
    <h3>Welcome, {{ user.firstname }} {{user.lastname}}</h3>
    <input type="text" [(ngModel)]="term" class="form-control" placeholder="Search for an event">
    <hr>
  </div>
  <div id="eventsList">
    <div *ngIf="events?.length > 0" class="container">
      <div *ngFor="let event of events | filter:term" class="collection">
        <div style="padding: 10px; border: black 2px solid;">
          <div class="d-flex justify-content-between">
            <div>Event Name: {{event.name}}</div>
            <div>
              <button class="bottom btn btn-light" (click)="deleteEvent(event)">X</button>
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-start">
            <button class="bottom btn btn-success" (click)="likeUpdate(event)">👍</button>
            <p class="bottom">{{event.like}}</p>
            <button class="bottom btn btn-danger" (click)="dislikeUpdate(event)">👎</button>
            <p class="bottom">{{event.dislike}}</p>
          </div>
        </div>
      </div>

      <br>
    </div>
  </div>

</ng-template>