<br><br><br><br><br>
<div *ngIf="firebaseService.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Welcome, Guest</h3>
  <p>Login to add events started...</p>

  <!-- <button (click)="firebaseService.googleLogin()">
        <i class="fa fa-google"></i> Connect Google
    </button> -->

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div class="container" *ngIf="firebaseService.user | async as user">
    <h3>Welcome, {{ user.firstname }} {{user.lastname}}</h3>
    <p>UID: {{ user.uid }}</p>
    <button class="btn btn-primary" (click)="firebaseService.signOut()">Logout</button>
    <hr>
    <form [formGroup]="eventForm" (ngSubmit)="registerEvent()">
      <h3>Coordinates</h3>
      <div class="form-group">
        <label for="name">Event Name</label>
        <br>
        <input type="name" id="name" class="input" formControlName="name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <br>
        <input type="description" id="description" class="input" formControlName="description" required>
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <br>
        <input type="longitude" id="longitude" class="input" formControlName="longitude">
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <br>
        <input type="latitude" id="latitude" class="input" formControlName="latitude">
      </div>
      <button type="submit" class="btn btn-primary">Add Event</button>
    </form>
  </div>
</ng-template>
<br>

<br><br><br>

<div *ngIf="events?.length > 0" class="container">
  <div class="card-deck">
    <div *ngFor="let event of events" class="collection">
      <div class="card mb-4" style="width: 20em; padding: 10px;">
        <div class="card-block">
          <h5 class="card-title">Event Name: {{event.name}} </h5>
          <p>EID: {{event.eid}}</p>
          <p>UID: {{event.uid}}</p>
          <p>Description: {{event.description}}</p>
          <p>Longitude: {{event.longitude}}</p>
          <p>Latitude: {{event.latitude}}</p>


          <input type="button"  class="coolButton" style="color:Green" value ="👍" (click)="likeUpdate(event)">
          <input class="tinyBox" value = showLikeInPercent(event)>
          <input type="button"  class="coolButton" style="color:Red" value ="👎" (click)="dislikeUpdate(event)">
          <input class="tinyBox" value ={{event.dislike}}>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
