/* You can add global styles to this file, and also import other style files */

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

body,
html {
  /* overflow: hidden; */
  height: 100%;
  font-family: PT Sans;
  /*background-color: #495159;*/
  /* background-color: #fff; */
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
*/

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
